@import "./SideBar";
@import "./Meme";
@import "./Create-room";
@import "./Home";
@import "./Youtube";
@import "./Video";

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: belligerent_madnessregular;
  background: #3e4346;
  color: aliceblue;

  
}
@font-face {
  font-family: "belligerent_madnessregular";

  src: url("belligerent-webfont.woff") format("woff");
}
