@import "./SideBar";
@import "./Meme";
@import "./Create-room";
@import "./Home";
@import "./Youtube";
@import "./Video";
@import "./Messaging";
@import "./Game";
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: belligerent_madnessregular;
  background: #1a1a2e;
  color: aliceblue;
}
@font-face {
  font-family: "belligerent_madnessregular";

  src: url("belligerent-webfont.woff") format("woff");
}
